@import 'floatz.animation.mixins.less';
@import 'floatz.animation.easing.less';

// Animation classes
.flz-animate-fadein {
	.flz-mx-animation(flz-keyframe-fadein 0.3s ease forwards);
}

.flz-animate-fadeout {
	.flz-mx-animation(flz-keyframe-fadeout 0.3s ease forwards);
}

.flz-animate-slideinleft {
	.flz-mx-animation(flz-keyframe-slideinleft 0.3s ease forwards);
}

.flz-animate-slideoutleft {
	.flz-mx-animation(flz-keyframe-slideoutleft 0.3s ease forwards);
}

.flz-animate-slideinright {
	.flz-mx-animation(flz-keyframe-slideinright 0.3s ease forwards);
}

.flz-animate-slideoutright {
	.flz-mx-animation(flz-keyframe-slideoutright 0.3s ease forwards);
}

.flz-animate-slideindown {
	.flz-mx-animation(flz-keyframe-slideindown 0.3s ease forwards);
}

.flz-animate-slideoutdown {
	.flz-mx-animation(flz-keyframe-slideoutdown 0.3s ease forwards);
}

.flz-animate-slideinup {
	.flz-mx-animation(flz-keyframe-slideinup 0.3s ease forwards);
}

.flz-animate-slideoutup {
	.flz-mx-animation(flz-keyframe-slideoutup 0.3s ease forwards);
}

// Animation workarounds for IE9
// FIXME: Test if this still works as all other animations have been changed to translate instead of left, right, top, bottom
html[id^=ie-9] {
	.flz-animate-fadein {
		opacity: 1;
	}
	.flz-animate-fadeout {
		opacity: 0;
	}
	.flz-animate-slideinleft {
		left: 0;
	}
	.flz-animate-slideoutleft {
		left: -100vw;
	}
	.flz-animate-slideinright {
		right: 0;
	}
	.flz-animate-slideoutright {
		right: -100vw;
	}
	.flz-animate-slideindown {
		top: 0;
	}
	.flz-animate-slideoutdown {
		top: -100vw;
	}
	.flz-animate-slideinup {
		bottom: 0;
	}
	.flz-animate-slideoutup {
		bottom: -100vw;
	}
}

// Keyframes
.flz-mx-keyframes(flz-keyframe-fadein, {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
});

.flz-mx-keyframes(flz-keyframe-fadeout, {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
});

.flz-mx-keyframes(flz-keyframe-slideinleft, {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(0);
	}
});

.flz-mx-keyframes(flz-keyframe-slideoutleft, {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-100%);
	}
});

.flz-mx-keyframes(flz-keyframe-slideinright, {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(0);
	}
});

.flz-mx-keyframes(flz-keyframe-slideoutright, {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(100%);
	}
});

.flz-mx-keyframes(flz-keyframe-slideindown, {
	0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(0);
	}
});

.flz-mx-keyframes(flz-keyframe-slideoutdown, {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(100%);
	}
});

.flz-mx-keyframes(flz-keyframe-slideinup, {
	0% {
		transform: translateY(100%);
	}
	100% {
		transform: translateY(0);
	}
});

.flz-mx-keyframes(flz-keyframe-slideoutup, {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(-100%);
	}
});
