@import "../core/floatz.core.mixins.less";

@flz-var-form-border-color: #aaa;
@flz-var-form-disabled-bgcolor: #eee;
@flz-var-form-disabled-color: #aaa;

.flz-form {
	input,
	select,
	textarea {
		border: 1px solid @flz-var-form-border-color;
		display: block;
		height: @flz-var-base-font-size * 2;
		width: 100%;

		&[readonly],
		&[disabled] {
			background-color: @flz-var-form-disabled-bgcolor;
			color: @flz-var-form-disabled-color;
		}
	}
	
	label {
		display: block;
		width: 100%;
	}

	input[type=button],
	input[type=submit],
	input[type=reset] {
		display: inline-block;
		height: auto;
		width: auto;
	}

	input[type=radio],
	input[type=checkbox] {
		display: inline-block;
		height: auto;
		width: auto;
		&+label {
			display: inline-block;
			padding-left: @flz-var-gutter-text-y / 4;
			padding-right: @flz-var-gutter-text-y;
			width: auto;
		}
		&[disabled]+label {
			color: @flz-var-form-disabled-color;
		}
	}

	textarea {
		height: auto;
	}
}

fieldset {
	border: 1px solid @flz-var-form-border-color;
}

legend {
	padding: 0 @flz-var-gutter-text-x / 2;
}